@model CreateReservationDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<div class="col-md-12 block-9 mb-md-5">
    <form action="#" class="bg-light p-5 contact-form" method="post">
        
        <h3 class="alert alert-success">Araç Rezervasyon Formu</h3>
        <br />
        <input type="hidden" class="form-control" asp-for="CarID" value="@ViewBag.CarID">


        <div class="form-group">
            <input type="text" class="form-control" placeholder="Adınızı Giriniz" asp-for="Name">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Soyadınızı Giriniz" asp-for="Surname">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Mail Adresinizi Giriniz" asp-for="Email">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Telefon Numaranızı Giriniz" asp-for="Phone">
        </div>

        <div class="form-group">
            <select asp-for="PickUpLocationID" asp-items="ViewBag.LocationValues" class="form-control">
                <option disabled selected>
                    -- Teslim Alıncak Lokasyonu Seçiniz --
                </option>
            </select>
        </div>

        <div class="form-group">
            <select asp-for="DropOffLocationID" asp-items="ViewBag.LocationValues" class="form-control">
                <option disabled selected>
                    -- Teslim Edilecek Lokasyonu Seçiniz --
                </option>
            </select>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Yaşınızı Giriniz" asp-for="Age">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Ehliyet Yılınızı Giriniz" asp-for="DriverLicanseYear">
        </div>

        <div class="form-group">
            <textarea cols="30" rows="7" class="form-control" placeholder="Eklemek İstediklerinizi Giriniz" asp-for="Description"></textarea>
        </div>

        <div class="form-group">
            <input type="submit" value="Rezervasyonu Tamamla" class="btn btn-primary py-3 px-5">
        </div>
    </form>

</div>