@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(() => {
            
            // Build Connection
            var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7127/carhub").build();

            // Connection Status
            $("#constatus").text(connection.state);
            
            // Start Connection
            connection.start().then(() => {

                // Connection Status & Car Count
                $("#constatus").text(connection.state);
                setInterval(() => {
                    connection.invoke("SendCarCount");
                },1000);              
            }).catch((err) => {console.log(err)});

            // Car Count
            connection.on("ReceiveCarCount", (value) => {
                $("#carcount").text(value);
            });
        });
    </script>
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="alert alert-info">Bağlantının Durumu: <strong id="constatus"></strong></div>
    </div>
    <div class="col-md-8 offset-2">
        <div class="alert alert-danger">Araba Sayısı: <strong id="carcount"></strong></div>
    </div>
</div>