
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<!-- Head -->
@await Component.InvokeAsync("_HeadUILayoutComponentPartial")

<body>

    <!-- Navbar -->
    @await Component.InvokeAsync("_NavbarUILayoutComponentPartial")

    <!-- MainCover -->
    @await Component.InvokeAsync("_MainCoverUILayoutComponentPartial")
    
    <!-- Main -->
    @RenderBody()
    
    <!-- Footer -->
    @await Component.InvokeAsync("_FooterUILayoutComponentPartial")
    
    <!-- Script -->
    @await Component.InvokeAsync("_ScriptUILayoutComponentPartial")

</body>
</html>